force-app/main/default/flows/Lead_Address_Collout_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ZippopotamCalloutAction</name>
        <label>Zippopotam Callout Action</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>ZippopotamCallout.ZippopotamCallout</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Zippopotam_Assigment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ZippopotamCallout.ZippopotamCallout</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Zippopotam_Assigment</name>
        <label>Zippopotam Assigment</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZippopotamCalloutAction.2XX.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countryAbbreviation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZippopotamCalloutAction.2XX.countryx20abbreviation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZippopotamCalloutAction.2XX.postx20code</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Address Collout Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 OR 2 OR 3 OR 4 OR 5</filterLogic>
        <filters>
            <field>City</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Street</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>ZippopotamCalloutAction</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ZippopotamCalloutAction.2XX.country</elementReference>
        </value>
    </variables>
    <variables>
        <name>countryAbbreviation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ZippopotamCalloutAction.2XX.countryx20abbreviation</elementReference>
        </value>
    </variables>
    <variables>
        <name>postalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ZippopotamCalloutAction.2XX.postx20code</elementReference>
        </value>
    </variables>
</Flow>
